@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./resources/fonts/Montserrat-Regular.ttf') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('./resources/fonts/OpenSans-Regular.ttf') format('woff');
    font-display: swap;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
#root > div {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1380px) {
    html,
    body {
        font-size: 1rem;
        line-height: normal;
    }
}
